{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block extrastyle %}
<style>

#error{
    border-radius: 10px;
    background-color: white;
    list-style: none;
}

.old_val:hover{
    cursor: pointer;
}

</style>
{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            <span class="divider">&raquo;</span>
        </li>
        <li>
            <a href="{% url 'admin:app_list' app_label="telemeta" %}">Telemeta</a>
            <span class="divider">&raquo;</span>
        </li>
        <li>
             <a href="{% url "admin:telemeta_mediaitem_changelist" %}"> Items</a>
            <span class="divider">&raquo;</span>
        </li>
        <li {% if not filename %}class="active"{% endif %}>
            Modifications items par CSV
        {% if filename %}
            <span class="divider">&raquo;</span>
        {% endif %}
        </li>
    {% if filename %}
        <li class="active">{{ filename }}</li>
    {% endif %}
    </ul>
{% endblock %}

{% block content_title_value %}Modifications items par CSV{% endblock %}

{% block content %}
    {% if not filename %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>{{ form.file.label }}</h1>
        <p>{{ form.file }}</p>
    <input type="submit">
    </form>
        {% if form.non_field_errors|length != 0 %}
            <p>ERROR ! Verify these cases :</p>
            <p>{{ form.non_field_errors }}</p>
            {% endif %}
    {% else %}
       <div id="progress" class="progress progress-striped active">
      <div class="bar"></div>
    </div>
    {% endif %}
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    <script> var filename = {% if filename %}"{{ filename }}"{% else %}null {% endif %};</script>
    <script src="{{ STATIC_URL }}telemeta/js/gener_csv.js"></script>
    {% if filename %}

        <script>

	    var attr_id = "";

            $(function () {
                $('#error').remove();
                $.ajax({
                    url: "{% url "admin:telemeta-items-csv-apply" %}",
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken : "{{ csrf_token }}",
                        filename: "{{ filename }}"
                    },
                    success: function (data) {
                        $('#container-form').replaceWith("<div id='state_generate'></div>");
                        $('#progress').show().after("<ul id='error'></ul>");
                        progress_generate(data.task_id);
                    },
                    statusCode: {
                        404: function () {
                            $('#attr_form').after("<em id='error'>An error occurs</em>");
                        },
                    }
                });
            });

            var item_errors = [];
            var counter = 1;
            var total = 0;
            var current_corr = null;
            var current_actual_values = null;

            var current_err = "";

            function progress_generate(task_id){
                $.ajax({
                    url: "{% url "admin:telemeta-items-csv-progress" 0 %}".replace("0", task_id), 
                    success: function (data) {
                        var restart = false;
                        $('.bar').css('width', Math.round(data.progress)+'%').text(data.progress+'%');
                        var current_item = "Item : ";
                        if(data.status != "SUCCESS" && data.status !="FAILURE"){
                            current_item+=data.item;
                            restart = true;
                            var str_error = data.prec_error[0]+"|"+data.prec_error[1];
                            if(data.prec_error.length != 0 && current_err != str_error){
                                $('#error').append('<li>Error for item '+data.prec_error[0]+' : '+data.prec_error[1]+'</li>').
                                   scrollTop($('#error li:last').offset().top);
                                current_err = str_error;
                            }
                            $('.bar').text($('.bar').text()+" ( "+data.counter+"/"+data.total+" )");
                        }
                        else{
                            current_item+="Finish";
                            $('#progress').removeClass("progress-striped active");
                            window.onbeforeunload = null;
                            $(window).off('unload');
                        }
                        $('#state_generate').text(current_item);
                        if(restart){
                            progress_generate(task_id);
                        }
                    }
                });
            }

        </script>

    {% endif %}
{% endblock %}
